/*Normalize.css 只是一个很小的CSS文件，但它在默认的HTML元素样式上提供了跨浏览器的高度一致性*/
@import '~normalize.css/normalize.css';
@import "~github-markdown-css/github-markdown.css";

body,h2,p,ul,li{
    margin:0;
    padding:0;
}
ul{
	padding-left:0;
}
li{
	list-style-type: none;
}

.my-drawer {
  position: relative;
  overflow: auto;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 8rem;
  padding: 0;
}


.icon{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: #abcdef;
	margin: 4rem auto 1rem;
	overflow: hidden;
}

.icon img{
	width: 100%;
	height: 100%;
}

.am-tabs .am-list-item img{
	width: 3em;
	height: 3em;
}
